@charset "UTF-8";

/* 초기화코드 HTML,BODY */
html {
	position: relative;
	min-height : 100%;
	margin : 0;
	padding : 0;
}


body {
	min-height : 100%; /* 최소height */
}


footer {
	position: absolute;
	left: 0;
	right : 0;
	bottom : 0;
	width : 100%;
	padding :15px 0;
	text-align : center;
	
}

.content {
	margin:50px 200px 100px 200px;
}